<!DOCTYPE html>
<html lang="en" ng-app="NewsApp">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% stylesheets '@css_includes' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
<div class="lang-bar">
    <span>Выбор языка:</span>
    <a href="{{ path(app.request.get('_route'),
    app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
    <span>/</span>
    <a href="{{ path(app.request.get('_route'),
    app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">RU</a>
</div>

{% block body %}{% endblock %}

{% javascripts '@js_libs' '@app_module' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}{% endblock %}
</body>
</html>
