{% extends 'AppBundle::base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block body %}
    <h1 align="center">{{ 'callback.form.hello'|trans  }}</h1>
    <div class="callback-form">
        {{ include('AppBundle:default:navigation_user.html.twig') }}
        {{ knp_menu_render('AppBundle:Builder:mainMenu', {'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'class': 'form-group row', 'action': '/app_dev.php/callback'} } ) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}