{% extends 'AppBundle::base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <div class="news-column">
        {{ include('AppBundle:default:navigation_user.html.twig') }}
        {{ knp_menu_render('AppBundle:Builder:mainMenu', {'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}

        <h2>{{ news.title }}</h2>
        <span><b>Опубликовано</b> - {{ news.publicationDate|date('d.m.Y')}}</span>
        {% if news.image != null %}
            <div><img src="{{ asset(news.image) | imagine_filter('post_img') }}" alt=""></div>
        {% else %}
            <div></div>
        {% endif %}
        <article>
            {{ news.content | raw }}
        </article>
    </div>
{% endblock %}