{% extends 'AppBundle::base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block body %}
    <div class="news-column" ng-init="locale='{{ locale }}'">
        {{ include('AppBundle:default:navigation_user.html.twig') }}
        {{ knp_menu_render('AppBundle:Builder:mainMenu', {'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}
        <h1>{{ 'news.news.title'|trans  }}</h1>
        <news-list></news-list>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts '@newsapp_component' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}